# ---- Python ----
__pycache__/
*.py[cod]
*.pyd
*.pyo

# ---- Virtual environments ----
.venv/
venv/
ENV/
env/

# ---- Environment files (secrets) ----
.env
.env.*

# ---- Django ----
db.sqlite3
*.log
staticfiles/
media/

# ---- OS / Editor ----
.DS_Store
.vscode/
.idea/

# ---- Build / tooling ----
pip-wheel-metadata/
*.egg-info/
dist/
build/
