# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

DJANGO_SECRET_KEY=super-secret-key
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=medivance.com,www.medivance.com
DJANGO_CORS_ALLOWED_ORIGINS=https://www.medivance.com
CLOUDINARY_URL=cloudinary://xxx
